<div >
  {{#each sampleResult}}
    <div class="feedback-card">
        <div >
            <div >
                <h2 >firstName: {{ firstName }}</h2>
                <div >
                    <p >lastName: {{ lastName }}</p>
                    <p >emailId: {{ emailId }}</p>
                    <p >contactNumber: {{ contactNumber }}</p>
                    <p>BookingDate: {{ BookingDate }}</p>
                    <p >CheckinDate: {{ CheckinDate }}</p>
                    <p >CheckOutDate: {{ CheckOutDate }}</p>
                    <p id="booking-status-{{_id}}"  >BookingStatus: {{ BookingStatus }}</p>
                    <p>{{_id}}</p>
                </div>
            </div>
            <button type="button" class="btn btn-success" onclick="book('{{_id}}')">Book</button>
            <button type="button" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-danger" onclick="deleteBooking('{{_id}}', this)">Delete</button>
        </div>
      </div>
    </div>
    {{/each}}   
</div>
<script>

    
function book(bookingId) {
    // You can add additional data or parameters as needed
    console.log(bookingId)
    fetch(`/admin/booking/book/${bookingId}`, {
        method: 'PUT',
    })
    .then(response => response.json())
    .then(data => {
         const statusElement = document.querySelector(`#booking-status-${bookingId}`);
            if (statusElement) {
                statusElement.textContent = 'BookingStatus: true';
            }
        alert('Booking successful');
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function deleteBooking(bookingId, buttonElement) {
      if (confirm('Are you sure you want to delete this booking?')) {
        fetch(`/admin/booking/deleteBooking/${bookingId}`, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('heres')
                const bookingElement = buttonElement.closest('.col');
                if (bookingElement) {
                    bookingElement.remove();
                }
                alert('Booking deleted');
            } else {
                alert('Failed to delete booking: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred: ' + error.message);
        });
    }
}
</script>
<div class="space-below">

</div>
