<form
  class="user-edit-form"
  action="/guest/account/edit/{{account._id}}"
  method="POST"
>
  <p>
    First Name :
    <span>{{account.firstName}}</span>
  </p>
  <p>
    Last Name :
    <span>{{account.lastName}}</span>
  </p>
  <p>
    Email :
    <span>{{account.email}}</span>
  </p>
  <p>
    Phone :
    <span>{{account.phonePrefix}}</span>
    -
    <span>{{account.phoneNumber}}</span>
  </p>
</form>

<footer>

  <a href="/guest">back to guest Homepage</a>
</footer>