  
  <p style="padding-left: 390px">Please check room details:</p>
  <form>
    <p>Room Number: {{roomNumber}}</p>
    <p>Room Type: {{roomType}}</p>
    <p>Room Price/day: ${{roomPrice}} </p>
  </form>
  <p style="padding-left: 390px">Please enter your details to confirm your booking:</p>
   
  <form action="/guest/booking/book/{{this.roomNumber}}" method="POST" id="BookingForm">
  <div id="error-container" style="display: none; float:left;">{{#if
    error
    }}{{error}}{{/if}}</div>
    <h2>Guest Details</h2>

  <label for="roomNumber"></label>
  <input id="roomNumber" name="roomNumber" value={{this.roomNumber}} type="hidden">

  {{!-- <label for="roomType"></label> --}}
  <input id="roomType" name="roomType" value={{this.roomType}} type="hidden">

  {{!-- <label for="roomPrice"></label> --}}
  <input id="roomPrice" name="roomPrice" value={{this.roomPrice}} type="hidden">

  <label for="FirstNameInput">Enter First Name</label>
  <input type="text" placeholder="Enter First Name" id="FirstNameInput" name="FirstNameInput" />
  <br />
  <label for="LastNameInput">Enter Last Name</label>
  <input type="text" placeholder="Enter Last Name" id="LastNameInput" name="LastNameInput" />
  <br />
  <label for="EmailIdInput">Enter Email Address</label>
  <input type="email" placeholder="Enter Email Address" id="EmailIdInput" name="EmailIdInput" />
  <br />
  <label for="phone">Enter Contact Number:</label>
  <input type="tel" placeholder="123-456-7890" pattern="\d{3}-\d{3}-\d{4}" name="phone" id="phone" />
  <br />
  <label for="CheckinDateInput">Enter CheckIn Date</label>
  <input type="date" id="CheckinDateInput" name="CheckinDateInput"  onchange="setMinCheckoutDate()" />
  <br />
  <label for="CheckoutDateInput">Enter CheckOut Date</label>
  <input type="date" id="CheckoutDateInput" name="CheckoutDateInput" disabled />
  <br />
  <button type="submit">Proceed For Payment</button>
</form>


<script>


  function setMinCheckoutDate() {
    let checkinDate = document.getElementById('CheckinDateInput').value;
    document.getElementById('CheckoutDateInput').disabled = false;

    // Set min attribute for checkout date as checkin date + 1 day
    if (checkinDate !== '') {
      let nextDay = new Date(checkinDate);
      nextDay.setDate(nextDay.getDate() + 1);
      let minDate = nextDay.toISOString().split('T')[0];
      document.getElementById('CheckoutDateInput').setAttribute('min', minDate);

      // Automatically adjust checkout date if already selected and before the new checkin date
      let checkoutDate = document.getElementById('CheckoutDateInput').value;
      if (checkoutDate !== '' && checkoutDate < checkinDate) {
        document.getElementById('CheckoutDateInput').value = minDate;
      }
    } else {
      document.getElementById('CheckoutDateInput').disabled = true;
      document.getElementById('CheckoutDateInput').value = '';
    }
  }

  window.onload = function () {
    
    const today = new Date();
    const yesterday = new Date(today);
    yesterday.setDate(today.getDate() - 1);
    const formattedYesterday = yesterday.toISOString().split('T')[0];
    document.getElementById('CheckinDateInput').setAttribute('min', formattedYesterday);

    document.getElementById('CheckinDateInput').addEventListener('change', setMinCheckoutDate);
  };


</script>


<div class="space-below">

</div>

<footer>
  <a href="/guest/room">Back to Guest Rooms</a>
  
 
</footer>
<script src="/public/js/main.js"></script>
<script src="/public/js/client_side_validation.js"></script>