<div id="success-message" class="alert-message" style="display: none;">{{successMessage}}</div>
<div id="error-container" class="alert-message" style="display: none;">{{error}}</div>
<form id ="adminAccountSearch" action="/admin/account/deleteSearch" method="POST">
    <label for="searchFName" >First Name:</label>
    <input type ="text" name="searchFName" id ="searchFName" placeholder="Enter first name"/>
    <label for="searchLName" >Last Name:</label>
    <input type ="text" name="searchLName" id ="searchLName" placeholder="Enter Last name"/>
    <button type="submit">Search</button>

</form>
{{#if searchDetails.length}}
{{#each searchDetails}}
<form class="admin-delete-form" action="/admin/account/delete/{{this._id}}" method="POST">
    <div class="user">
    <input type ="hidden" name="accountId" value ="{{this._id}}">
    <p>
        <label for="firstNameInput-{{this._id}}">Name:</label>
        <input type ="text" name="firstNameInput" id ="firstNameInput-{{this._id}}" value="{{this.firstName}}" disabled/>
        <input type ="text" name="lastNameInput" id ="lastNameInput-{{this._id}}" value="{{this.lastName}}" disabled/>
    </p>
    <p>
        <label for="email-{{this._id}}">Email</label>
        <input type="email" id="email-{{this._id}}" name ="email" value="{{this.email}}" disabled/>
    </p>
    <p>
        <label for="phone-{{this._id}}" >Phone</label>
     </p>
        <div class="phone-container">
            <select class="phonePrefix-select" name="phonePrefix" data-current-prefix="{{this.phonePrefix}}" disabled></select>
            <input type="tel" id="phone-{{this._id}}" name ="phone"  value="{{this.phoneNumber}}" disabled/>
        </div>
    <p>Role:{{this.role}}</p>
    <button type="submit" class="delete-button">
    <i class ="fas fa-pencil-alt"></i>Delete
    </button>
</div>
</form>
{{/each}}
{{/if}}
<footer>

 <a href="/admin/account">Back to Account</a>
</footer>
<script src="/public/js/client_side_validation.js"></script>
<script src="/public/js/main.js"></script>