
{{#if message}}
    <div class="alert">
        {{message}}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
{{/if}}
<a href="/admin/room/create" class="create-button">Create New Room</a>

{{#each rooms}}
    <div class="room-card">
        <h2>Room {{this.roomNumber}}</h2>
        <p>Type: {{this.roomType}}</p>
        <p>Price: ${{this.roomPrice}}</p>
        <p>Availability: {{#if this.availability}}Available{{else}}Not Available{{/if}}</p>
        <p>Description: {{this.roomDescription}}</p>
        {{#if this.roomPhotos}}
            <div>
                {{#each this.roomPhotos}}
                    <img src="{{this}}" alt="Room Photo" class="room-photo">
                {{/each}}
            </div>
        {{/if}}
        <p>cleanStatus: {{#if this.cleanStatus}}Clean{{else}}Dirty{{/if}}</p>
        <a href="/admin/room/delete?roomNumber={{this.roomNumber}}" class="delete-button">Delete</a>
        <a href="/admin/room/update/{{this.roomNumber}}" class="update-button">Update</a>
        <a href="/admin/room/clean/{{this.roomNumber}}" class="clean-button">Clean</a>
    </div>
{{/each}}
<div class="space-below">

</div>

<footer>
  <a href="/admin">back to Admin Dashboard</a>
</footer>